StoneageTools/bin/Debug/net6.0/StoneageTools.deps.json
StoneageTools/bin/Debug/net6.0/StoneageTools.dll
StoneageTools/bin/Debug/net6.0/StoneageTools.pdb
StoneageTools/bin/Debug/net6.0/ref/StoneageTools.dll
StoneageTools/obj/project.assets.json
StoneageTools/obj/project.nuget.cache
StoneageTools/obj/StoneageTools.csproj.nuget.dgspec.json
StoneageTools/obj/StoneageTools.csproj.nuget.g.props
StoneageTools/obj/StoneageTools.csproj.nuget.g.targets
StoneageTools/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
StoneageTools/obj/Debug/net6.0/StoneageTools.AssemblyInfo.cs
StoneageTools/obj/Debug/net6.0/StoneageTools.AssemblyInfoInputs.cache
StoneageTools/obj/Debug/net6.0/StoneageTools.assets.cache
StoneageTools/obj/Debug/net6.0/StoneageTools.csproj.AssemblyReference.cache
StoneageTools/obj/Debug/net6.0/StoneageTools.csproj.CoreCompileInputs.cache
StoneageTools/obj/Debug/net6.0/StoneageTools.csproj.FileListAbsolute.txt
StoneageTools/obj/Debug/net6.0/StoneageTools.dll
StoneageTools/obj/Debug/net6.0/StoneageTools.GeneratedMSBuildEditorConfig.editorconfig
StoneageTools/obj/Debug/net6.0/StoneageTools.GlobalUsings.g.cs
StoneageTools/obj/Debug/net6.0/StoneageTools.pdb
StoneageTools/obj/Debug/net6.0/ref/StoneageTools.dll
StoneageToolsTest/obj/project.assets.json
StoneageToolsTest/obj/project.nuget.cache
StoneageToolsTest/obj/StoneageToolsTest.csproj.nuget.dgspec.json
StoneageToolsTest/obj/StoneageToolsTest.csproj.nuget.g.props
StoneageToolsTest/obj/StoneageToolsTest.csproj.nuget.g.targets
StoneageToolsTest/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
StoneageToolsTest/obj/Debug/net6.0/apphost
StoneageToolsTest/obj/Debug/net6.0/StoneageToolsTest.AssemblyInfo.cs
StoneageToolsTest/obj/Debug/net6.0/StoneageToolsTest.AssemblyInfoInputs.cache
StoneageToolsTest/obj/Debug/net6.0/StoneageToolsTest.assets.cache
StoneageToolsTest/obj/Debug/net6.0/StoneageToolsTest.csproj.AssemblyReference.cache
StoneageToolsTest/obj/Debug/net6.0/StoneageToolsTest.csproj.CopyComplete
StoneageToolsTest/obj/Debug/net6.0/StoneageToolsTest.csproj.CoreCompileInputs.cache
StoneageToolsTest/obj/Debug/net6.0/StoneageToolsTest.csproj.FileListAbsolute.txt
StoneageToolsTest/obj/Debug/net6.0/StoneageToolsTest.dll
StoneageToolsTest/obj/Debug/net6.0/StoneageToolsTest.GeneratedMSBuildEditorConfig.editorconfig
StoneageToolsTest/obj/Debug/net6.0/StoneageToolsTest.genruntimeconfig.cache
StoneageToolsTest/obj/Debug/net6.0/StoneageToolsTest.GlobalUsings.g.cs
StoneageToolsTest/obj/Debug/net6.0/StoneageToolsTest.pdb
StoneageToolsTest/obj/Debug/net6.0/ref/StoneageToolsTest.dll
StoneageToolsTest/bin/Debug/net6.0/StoneageTools.dll
StoneageToolsTest/bin/Debug/net6.0/StoneageTools.pdb
StoneageToolsTest/bin/Debug/net6.0/StoneageToolsTest
StoneageToolsTest/bin/Debug/net6.0/StoneageToolsTest.deps.json
StoneageToolsTest/bin/Debug/net6.0/StoneageToolsTest.dll
StoneageToolsTest/bin/Debug/net6.0/StoneageToolsTest.pdb
StoneageToolsTest/bin/Debug/net6.0/StoneageToolsTest.runtimeconfig.json
StoneageToolsTest/bin/Debug/net6.0/ref/StoneageToolsTest.dll
.vs/StoneageTools/xs/UserPrefs.xml
StoneageToolsTest/bin/Debug/net6.0/CoverletSourceRootsMapping
StoneageToolsTest/bin/Debug/net6.0/Microsoft.TestPlatform.AdapterUtilities.dll
StoneageToolsTest/bin/Debug/net6.0/Microsoft.TestPlatform.CommunicationUtilities.dll
StoneageToolsTest/bin/Debug/net6.0/Microsoft.TestPlatform.CoreUtilities.dll
StoneageToolsTest/bin/Debug/net6.0/Microsoft.TestPlatform.CrossPlatEngine.dll
StoneageToolsTest/bin/Debug/net6.0/Microsoft.TestPlatform.PlatformAbstractions.dll
StoneageToolsTest/bin/Debug/net6.0/Microsoft.TestPlatform.Utilities.dll
StoneageToolsTest/bin/Debug/net6.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
StoneageToolsTest/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.Common.dll
StoneageToolsTest/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
StoneageToolsTest/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
StoneageToolsTest/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
StoneageToolsTest/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
StoneageToolsTest/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
StoneageToolsTest/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
StoneageToolsTest/bin/Debug/net6.0/Newtonsoft.Json.dll
StoneageToolsTest/bin/Debug/net6.0/NuGet.Frameworks.dll
StoneageToolsTest/bin/Debug/net6.0/testhost.dll
StoneageToolsTest/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
StoneageToolsTest/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
StoneageToolsTest/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
StoneageToolsTest/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
StoneageToolsTest/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
StoneageToolsTest/bin/Debug/net6.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
StoneageToolsTest/bin/Debug/net6.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
StoneageToolsTest/bin/Debug/net6.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
StoneageToolsTest/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
StoneageToolsTest/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
StoneageToolsTest/bin/Debug/net6.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
StoneageToolsTest/bin/Debug/net6.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
StoneageToolsTest/bin/Debug/net6.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
StoneageToolsTest/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
StoneageToolsTest/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
StoneageToolsTest/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
StoneageToolsTest/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
StoneageToolsTest/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
StoneageToolsTest/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
StoneageToolsTest/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
StoneageToolsTest/bin/Debug/net6.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
StoneageToolsTest/bin/Debug/net6.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
StoneageToolsTest/bin/Debug/net6.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
StoneageToolsTest/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
StoneageToolsTest/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
StoneageToolsTest/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
StoneageToolsTest/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
StoneageToolsTest/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
StoneageToolsTest/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
StoneageToolsTest/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
StoneageToolsTest/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
StoneageToolsTest/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
StoneageToolsTest/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
StoneageToolsTest/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
StoneageToolsTest/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
StoneageToolsTest/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
StoneageToolsTest/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
StoneageToolsTest/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
StoneageToolsTest/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
StoneageToolsTest/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
StoneageToolsTest/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
StoneageToolsTest/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
StoneageToolsTest/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
StoneageToolsTest/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
StoneageToolsTest/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
StoneageToolsTest/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
StoneageToolsTest/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
StoneageToolsTest/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
StoneageToolsTest/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
StoneageToolsTest/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
StoneageToolsTest/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
StoneageToolsTest/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
StoneageToolsTest/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
StoneageToolsTest/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
StoneageToolsTest/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
StoneageToolsTest/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
StoneageToolsTest/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
StoneageToolsTest/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
StoneageToolsTest/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
StoneageToolsTest/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
StoneageToolsTest/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
StoneageToolsTest/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
StoneageToolsTest/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
StoneageToolsTest/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
StoneageToolsTest/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
neu StoneageToolsTest/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
neu StoneageToolsTest/obj/Debug/net6.0/StoneageToolsTest.AssemblyInfo.cs
neu StoneageToolsTest/obj/Debug/net6.0/StoneageToolsTest.AssemblyInfoInputs.cache
neu StoneageToolsTest/obj/Debug/net6.0/StoneageToolsTest.assets.cache
neu StoneageToolsTest/obj/Debug/net6.0/StoneageToolsTest.csproj.AssemblyReference.cache
neu StoneageToolsTest/obj/Debug/net6.0/StoneageToolsTest.GeneratedMSBuildEditorConfig.editorconfig
neu StoneageToolsTest/obj/project.assets.json
neu StoneageToolsTest/obj/project.nuget.cache
neu StoneageToolsTest/obj/StoneageToolsTest.csproj.nuget.dgspec.json
neu StoneageToolsTest/obj/StoneageToolsTest.csproj.nuget.g.props
neu StoneageToolsTest/obj/StoneageToolsTest.csproj.nuget.g.targets
