StoneageTools/bin/Debug/net6.0/StoneageTools.deps.json
StoneageTools/bin/Debug/net6.0/StoneageTools.dll
StoneageTools/bin/Debug/net6.0/StoneageTools.pdb
StoneageTools/bin/Debug/net6.0/ref/StoneageTools.dll
StoneageTools/obj/project.assets.json
StoneageTools/obj/project.nuget.cache
StoneageTools/obj/StoneageTools.csproj.nuget.dgspec.json
StoneageTools/obj/StoneageTools.csproj.nuget.g.props
StoneageTools/obj/StoneageTools.csproj.nuget.g.targets
StoneageTools/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
StoneageTools/obj/Debug/net6.0/StoneageTools.AssemblyInfo.cs
StoneageTools/obj/Debug/net6.0/StoneageTools.AssemblyInfoInputs.cache
StoneageTools/obj/Debug/net6.0/StoneageTools.assets.cache
StoneageTools/obj/Debug/net6.0/StoneageTools.csproj.AssemblyReference.cache
StoneageTools/obj/Debug/net6.0/StoneageTools.csproj.CoreCompileInputs.cache
StoneageTools/obj/Debug/net6.0/StoneageTools.csproj.FileListAbsolute.txt
StoneageTools/obj/Debug/net6.0/StoneageTools.dll
StoneageTools/obj/Debug/net6.0/StoneageTools.GeneratedMSBuildEditorConfig.editorconfig
StoneageTools/obj/Debug/net6.0/StoneageTools.GlobalUsings.g.cs
StoneageTools/obj/Debug/net6.0/StoneageTools.pdb
StoneageTools/obj/Debug/net6.0/ref/StoneageTools.dll
StoneageToolsTest/obj/project.assets.json
StoneageToolsTest/obj/project.nuget.cache
StoneageToolsTest/obj/StoneageToolsTest.csproj.nuget.dgspec.json
StoneageToolsTest/obj/StoneageToolsTest.csproj.nuget.g.props
StoneageToolsTest/obj/StoneageToolsTest.csproj.nuget.g.targets
StoneageToolsTest/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
StoneageToolsTest/obj/Debug/net6.0/apphost
StoneageToolsTest/obj/Debug/net6.0/StoneageToolsTest.AssemblyInfo.cs
StoneageToolsTest/obj/Debug/net6.0/StoneageToolsTest.AssemblyInfoInputs.cache
StoneageToolsTest/obj/Debug/net6.0/StoneageToolsTest.assets.cache
StoneageToolsTest/obj/Debug/net6.0/StoneageToolsTest.csproj.AssemblyReference.cache
StoneageToolsTest/obj/Debug/net6.0/StoneageToolsTest.csproj.CopyComplete
StoneageToolsTest/obj/Debug/net6.0/StoneageToolsTest.csproj.CoreCompileInputs.cache
StoneageToolsTest/obj/Debug/net6.0/StoneageToolsTest.csproj.FileListAbsolute.txt
StoneageToolsTest/obj/Debug/net6.0/StoneageToolsTest.dll
StoneageToolsTest/obj/Debug/net6.0/StoneageToolsTest.GeneratedMSBuildEditorConfig.editorconfig
StoneageToolsTest/obj/Debug/net6.0/StoneageToolsTest.genruntimeconfig.cache
StoneageToolsTest/obj/Debug/net6.0/StoneageToolsTest.GlobalUsings.g.cs
StoneageToolsTest/obj/Debug/net6.0/StoneageToolsTest.pdb
StoneageToolsTest/obj/Debug/net6.0/ref/StoneageToolsTest.dll
StoneageToolsTest/bin/Debug/net6.0/StoneageTools.dll
StoneageToolsTest/bin/Debug/net6.0/StoneageTools.pdb
StoneageToolsTest/bin/Debug/net6.0/StoneageToolsTest
StoneageToolsTest/bin/Debug/net6.0/StoneageToolsTest.deps.json
StoneageToolsTest/bin/Debug/net6.0/StoneageToolsTest.dll
StoneageToolsTest/bin/Debug/net6.0/StoneageToolsTest.pdb
StoneageToolsTest/bin/Debug/net6.0/StoneageToolsTest.runtimeconfig.json
StoneageToolsTest/bin/Debug/net6.0/ref/StoneageToolsTest.dll
.vs/StoneageTools/xs/UserPrefs.xml
StoneageToolsTest/bin/Debug/net6.0/CoverletSourceRootsMapping
